@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    #login{
        width: 80%;
    }

    #login > #imagem{
       float: left;
       width: 30%;
         height: 100%;
    }

    #login > #formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    #login{
        width: 950px;
    }

    #login > #imagem{
       float: left;
       width: 40%;
        height: 100%;
    }

    #login > #formulario{
        float: right;
        width: 60%;
    }
    
}

@media screen and (min-width: 1201px) {

    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    #login{
        width: 80vw;
    }

    #login > #imagem{
       float: right;
       width: 40%;
        height: 100%;
    }

    #login > #formulario{
        float: left;
        width: 60%;
    }
    
    #login > #formulario > h1{
        font-size: 1.5em;
    }
}